[config]
CLASSNAME = student
COLS = ["name", "age", "num", "comment"]
KEYCOL = "name"

PROJECT_FILES = [
    "index.html",
    ".babelrc",
    "webpack.config.js",
    "src/main.js"]

COMMON_FOLDERS = [
    "src/component"]

FOLDERS = [
    "dist/src/store",
    "dist/src/module/%(CLASSNAME)s/%(CLASSNAME)s-detail",
    "dist/src/module/%(CLASSNAME)s/%(CLASSNAME)s-edit",
    "dist/src/module/%(CLASSNAME)s/%(CLASSNAME)s-list"]

TEMPLATE_FILES = [
    {"base": "src/App.vue", "dict": "src/App.vue"},
    {"base": "src/store/index.js", "dict": "src/store/index.js"},
    {"base": "src/store/base.js", "dict": "src/store/%(CLASSNAME)s.js"},
    {"base": "src/module/base/base-list/index.vue", "dict": "src/module/%(CLASSNAME)s/%(CLASSNAME)s-list/index.vue"},
    {"base": "src/module/base/base-detail/index.vue", "dict": "src/module/%(CLASSNAME)s/%(CLASSNAME)s-detail/index.vue"},
    {"base": "src/module/base/base-edit/index.vue", "dict": "src/module/%(CLASSNAME)s/%(CLASSNAME)s-edit/index.vue"}]