.header {
  position: fixed;
  height: 50px;
  line-height: 50px;
  width: 100vw;
  top: 0;
  left: 0;
  text-align: center;
  color: white;
  background-color: lightsalmon;
}

.content-big {
  margin-top: 50px;
  height: calc(100vh - 50px);
}

.content {
  margin-top: 50px;
  height: calc(100vh - 100px);
}

.footer {
  position: fixed;
  display: flex;
  height: 50px;
  line-height: 50px;
  bottom: 0;
  left: 0;
  width: 100vw;
  color: white;
  background-color: #0b97c4;
  a {
    flex:1;
    display: inline-block;
    text-align: center;
  }
}