
@font-face {
  font-family: 'nva_fontello';
  src: url('../fonts/fontello.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "nva_fontello";
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
}

.icon-plus:before { content: '\e800'; }
.icon-minus:before { content: '\e805'; }
.icon-plus-squared:before { content: '\e807'; }
.icon-minus-squared:before { content: '\e808'; }

.icon-calendar:before { content: '\e801'; }
.icon-right-open:before { content: '\e802'; }
.icon-left-open:before { content: '\e803'; }
.icon-down-open:before { content: '\e804'; }
.icon-up-open:before { content: '\e806'; }

.icon-table:before { content: '\f0ce'; }
.icon-angle-double-left:before { content: '\f100'; }
.icon-angle-double-right:before { content: '\f101'; }
.icon-quora:before { content: '\f2c4'; }

.icon-cog:before { content: '\e809'; } /*齿轮*/
.icon-down-dir:before { content: '\e80a'; } /* 向下三角箭头 */