.li-card {
    background-color: steelblue;
    padding:2px 5px;
    border-radius: 2px;
    font-size:10px;
    color: white;
}

//BOOK CARD
.book-card-wrapper {
    min-width:25%;
    max-width:25%;
    height: 33.33%;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.book-card {
    font-size:20px;
    width:160px;
    height: 100px;
    color: white;
    padding: 10px;
    background-color: rgba(#8dddbd, 0.4);
    box-shadow: 2px 2px 3px 0px #496887;
    display: flex;
    justify-content: center;
    align-items: center;
}



//CHARACTOR CARD
.charactor-card {
    position:relative;
    width: 80%;
    height:40px;
    line-height:40px;
    padding-left:10px;
    font-size:15px;
    color:white;
    background-color: #41bbba;
     
    background-image: linear-gradient(45deg,transparent 50%,#ffd8a3 50%),
    linear-gradient(135deg,transparent 50%,#ffd8a3 50%);
    background-size:10px 10px;
    background-repeat:repeat-y;
    background-position:100% 0;  
    
    &:hover {
        .btn-edit {
            display:block;
        }
    }
    .btn-edit {
        display:none;
    }
}