#app {
  position:relative;
  width:100vw;
  height:100vh;
}

.flex__1 {
  flex:1;
}

.flex__2 {
  flex:2 !important;
}

.flex__h_end {
  justify-content: flex-end;
}

.flex__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full__width {
  width:100%;
}


.header__container {
  height:60px;
  display: flex;
  padding: 10px 10px;
  font-size: 1.2em;
}