
.btn {
  display:inline-block;
  height:30px;
  line-height:30px;
  text-align: center;
  padding: 0 10px;
}

.btn__full_width {
  width:100%;
}
.btn__add {
  background-color:steelblue;
  color:white;
}