
@import './left-menu';
@import './right-menu';

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

path {
  box-shadow: 6px 4px 10px 10px #888888;
}


body {
  overflow: hidden;
  background-image: url(http://tympanus.net/Development/SegmentEffect/img/1.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
}

#app,#app__container, #app__svg {
  width: 100%;
  height:100%;
}

#app__svg {
  //overflow: scroll;
  display: block;
  justify-content: center;
  position: relative;
}

svg {
  top: -20%;
  height: 140%;
  width: 100%;
  transition: all 1s ease;
  position: absolute;
}