<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../node_modules/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <app-view :msg="'Hi'">
        <div slot="prepend">This is Prepend</div>

    </app-view>
</div>
</body>
<script>
    Vue.component('app-view',{
        props:['msg'],
        template:`
            <div>
                <slot name="prepend"></slot>
                <div v-if="$slots.prepend">has prepend</div>
                {{msg}}
                <slot name="append">
                    XXXXX
                </slot>
                <div v-if="$slots.append">has append</div>
            </div>
       `,
        created() {
            console.log(this);
            console.log(this.$slots);
        }
    })

    new Vue({
        el: '#app'
    })
</script>
</html>