* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetic;
  position:relative;
}

body {
  width: 100vw;
  height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
}

.box {
  width: 100px;
  height: 100px;
  min-width: 100px;
  line-height: 100px;
  background-color: steelblue;
  position: absolute;
  color: white;
  text-align: center;
  border: 1px solid grey;
}

.box .box-header {
  position: absolute;
  top: -20px;
  height: 20px;
  padding: 2px 8px;
  line-height: normal;
  left: 0;
  background-color: black;
  border: 1px solid grey;
  text-align: center;
  font-size: 13px;
  color: #eee;
  z-index: 20;
}

.box .box-header-input {
  position: absolute;
  top: -20px;
  left: 0px;
  height: 20px;
  line-height: 20px;
  padding-left: 8px;
  max-width: 100px;
  z-index: 10;
}

.box-utility {
  position: absolute;
  bottom: 0px;
  color: white;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
}

.size-box {
  right: 0px;
  background-color: blueviolet;
  width: 30px;
}

.insert-box {
  left: 0px;
  background-color: lawngreen;
  width: 40px;
}
.delete-box {
  right:0;
  top:0;
  background-color: red;
  color:white;
  width:30px;
}

.style-box {
  right: 50px;
  bottom:0;
  background-color: lightcoral;
  width:40px;
}

.container {
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  position: relative;
  overflow: hidden;
}