.right-content__container {
  width:100vw;
  height:100%;
}

.right-content__title-section {
  height:60px;
  line-height:60px;
  text-align: center;
  font-size:1.5em;
  color: rgba(white, 2);
  background-color: rgba(lightsteelblue, 0.7);
}

.right-content__submenu {

}

.right-content__list {

}