.full-mask {
    width:100vw;
    height:100vh;
    background-color:rgba(black, 0.3);
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    left: 0;
    top: 0;
}

.item-bar-wrapper {;
    width: 400px;
    height:300px;
}