
.btn-blue {
    color: #fff;
    background-color: #152948;
    border-color: #152948;
  }
  
  .btn-blue:hover {
    color: #fff;
    background-color: #7d93b7;
    border-color: #7d93b7;
  }
  
  .btn-blue:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }

  .btn-blue:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #40526f;
    border-color: #40526f;
  }
  
  .btn-blue:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }

  .content-wrapper {
    height: 100%;
    display:flex;
    flex-direction: column;
  }