.info-box {
    width: 100%;
}


.box {
    border: 1px solid #c5c3c3;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(176,170,176,1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(176,170,176,1);
    box-shadow: 4px 4px 5px 0px rgba(176,170,176,1);
    background-color: #fff;
    margin-top: 10px;
}