.form__section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form__row {
  display: flex;
  padding: 0 10px;
  margin-bottom: 10px;
  position: relative;
  .form__left {
    flex: 1;
    display: inline-block;
    color: white;
    font-size: 1.1em;
  }
  label {
    color: white;
  }
  .form__right {
    width: 100px;
    display: inline-block;
    li {
      margin-bottom: 10px;
    }
  }
}

.display__row {
  display: block;
  padding: 0 10px;
  margin-bottom: 10px;
  .display__image {
    width:100%;
    height:auto;
  }
}