ul {
  list-style: none;
}

.app__container {
  position: relative;
  margin: 50px;
}

.app__list {
  position: relative;
  width: 400px;
  height: 500px;
}

.app__item {
  display: block;
  position: absolute;
  height: 300px;
  width: 300px;
  border: 1px solid steelblue;
}

.app__item:not(:last-child) {
  transition: all 0.8s ease;
}

.app__item_first {
  opacity: 1;
  transition: all 0.5s ease;
  &.blur {
    opacity: 0 !important;
  }
}



