#app {
  position:relative;
  width:100vw;
  height:100vh;
}

.flex__1 {
  flex:1;
}

.flex__2 {
  flex:2 !important;
}

.flex__left {
  flex:1;
}
.flex__right {
  justify-content: flex-end;
}

.flex__h_end {
  justify-content: flex-end;
}

.flex__center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex__h-center {
  display: flex;
  align-items: center;
}

.full__width {
  width:100%;
}
